---
import LayoutInner from "../layouts/LayoutInner.astro";
---

<LayoutInner title="Menu">
  <div
    class="container w-full h-full flex flex-col justify-center items-center"
  >
    <h1 class="text-3xl text-center font-semibold text-white">
      Bienvenido al Sistema de Almacen
    </h1>
    <p class="text-balance text-center text-xl text-white">
      Este sistema te permite llevar un control de los productos que tienes en
      tu almacen, asi como tambien llevar un control de las ventas que realizas.
      Para comenzar, selecciona una de las opciones del menu de la izquierda.
      Este sistema fue desarrollado por el grupo 3 del curso de Desarrollo de
      Sistemas Web.
    </p>
  </div>
</LayoutInner>
