---
import LayoutInner from "src/layouts/LayoutInner.astro";
import TableSalida from "src/components/react-component/TableSalida.tsx";
---

<LayoutInner title="Registrar Salidas">
    <div class="h-full relative flex flex-col">
        <h1 class="text-5xl text-center font-bold bg-slate-400">
            REGISTRAR SALIDAS
        </h1>
        <TableSalida client:load/>
    </div>
</LayoutInner>