---
import LayoutInner from "../layouts/LayoutInner.astro";
import DatosUsuario from "src/components/react-component/DatosUsuario.tsx"
---

<LayoutInner title="Inventario">
  <div class="h-full relative flex flex-col">
    <h1 class="text-5xl text-center font-bold bg-slate-400">DATOS DE USUARIO</h1>
    <DatosUsuario client:load/>
  </div>
</LayoutInner>
